<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{ DEFAULT_LANG }}">
  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tags %} {% endblock %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    {% assets output="css/main.%(version)s.css", "css/main.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% for extra_path in EXTRA_PATH_METADATA.values() %}
      {% if extra_path.get('path', '').endswith('.css') %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ extra_path['path'] }}">
      {% endif %}
    {% endfor %}

    <style media="print"> .is-hidden-print{display:none !important} </style>
  </head>
  <body>
    <div class="container is-fluid" id="top-container">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
              <strong>Training @ Nomadic Labs</strong>
            </a>
            <a role="button" class="navbar-burger burger"
              aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/training.html">
                Training Resources
              </a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <span class="icon">
                  <a href="https://gitlab.com/nomadic-labs"><i class="fa fa-gitlab"></i></a>
                </span>
                <span class="icon">
                  <a href="https://twitter.com/LabosNomades"><i class="fa fa-twitter"></i></a>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="content has-text-centered is-size-7">
        <hr>
        <p>© 2018-2019. <strong>Nomadic Labs</strong> All rights
        reserved.<br>
        Code snippets in the pages are released under The MIT License,
        unless otherwise specified.</p>
      </div>
    </footer>
    {% for extra_path in EXTRA_PATH_METADATA.values() %}
      {% if extra_path.get('path', '').endswith('.js') %}
    <script src= "{{ SITEURL}}/{{ extra_path['path'] }}"></script>
    {% endif %} {% endfor %}
  </body>
</html>
