{% extends "base.html" %}
{% block content %}
<section class="hero">
  <div id="banner" class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-4">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <figure class="image is-256x256">
                <a href="https://www.nomadic-labs.com">
                  <img src="{{ SITEURL }}/images/logo.png">
                </a>
              </figure>
            </div>
          </div>
        </div>
        <div class="tile is-parent" style="padding-top: 1rem; ">
          <p class="is-size-2" style="font-weight: 500; margin: 30px 0 0 30px">
          Training and Education Portal
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="column">
    <section id="content" class="body">
      <article>
      <div class="section">{{ page.content }}</div>
      </article>
    </section>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="message tile is-child is-link">
              <div class="message-header">
                <p><span class="icon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>Contact</p>
              </div>
              <div class="message-body">
                <p>
                Email:
                <script type="text/javascript">
                  var x = 'conta' + 'ct' + String.fromCharCode(63 + 1) + 'nom' + 'adic-lab' +'s.com';
document.write("<a href=" + "mai" + "lto" + ":" + x + ">" + x + "</a>"); </script>
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="message tile is-child is-link">
              <div class="message-header">
                <p><span class="icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </span>Address</p>
              </div>
              <div class="message-body">
                <a href="https://www.openstreetmap.org/node/6260703743" target= "_blank">
                  <p>
                  Nomadic Labs</br>
                  6 rue Germaine Richier</br>
                  75013 PARIS</br>
                  FRANCE
                  </p>
                </a>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="message tile is-child is-link">
          <div class="message-header">
            <p><span class="icon">
              <i class="fa fa-link" aria-hidden="true"></i>
            </span>Follow us</p>
          </div>
          <div class="message-body">
            <ul>
              <li>
                <p>
                <span class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                <a href="https://twitter.com/LabosNomades" target= "_blank">@labosnomades</a>
                </p>
              </li>
              <li>
                <p>
                <span class="icon"><i class="fa fa-gitlab" aria-hidden="true"></i></span>
                <a href="https://gitlab.com/nomadic-labs" target= "_blank">@nomadic-labs</a>
                </p>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}
