{% extends "base.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}
{% block tags %}
  {% with item=page %}
    {% include 'meta_tags.html' %}
  {% endwith %}
{% endblock %}
{% block content %}
<section id="content" class="body">
  <article>
    <section id="banner" class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
        </div>
      </div>
    </section>
    <div class="container">
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(page) }}
      <div class="section">{{ page.content }}</div>
    </div>
  </article>
</section>
{% endblock %}
