html {
  background-color: white;
}

body {
  color: #4a4a4a;
}

a {
  color: #2a559b;
}

textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#banner {
  background-color: #2a559b;
  color: white;
  margin-bottom: 1rem;
}

.message.is-link .message-header {
  background-color: #2a559b;
  color: white;
}

.logo {
  font-size: 1.4rem;
}

.icon {
  margin-right: 8px;
}

.message a {
  text-decoration: none !important;
}

.footer {
  padding: 0 0 0 0 !important;
}
